<!DOCTYPE HTML>

<html lang="en">
<head>
    <title>Welcome</title>
    <style>
        body {
        color: red;
        font-weight: bold
        }

        button {
        color: green
        }

        h2.italic{
        font-weight: italic
        }

        .body {
        display: flex;
        flex-direction: column;
        height: 100%;
        }

    </style>
</head>
<body body>
  <h1>Hello {{ user or 'you!' }}!</h1>
  <h2> This is h2 </h2>
    <ul> this is a sub list in h3 </ul>
  <h4> This is h4 </h4>
  <h5> This is h5 </h5>

    <ul>
        <li> This is a list </li>
    </ul>

  <button> Click me </button>
  <p></p>
  <p></p>
  <p></p>

  <img src="http://clipart-library.com/images_k/whatsapp-transparent/whatsapp-transparent-13.png">

</body>

</html>
